.whatsapp-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
  }
  
  .messages-container {
    flex: 1;
    overflow-y: scroll;
  }
  
  .message {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
  }
  
  .user {
    align-self: flex-end;
    background-color: #DCF8C6;
  }
  
  .AI {
    align-self: flex-start;
    background-color: #E5E5EA;
  }
  
  .input-container1 {
    display: flex;
    margin-top: 20px;
  }
  
  inputt[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button1 {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: lightblue;
    color: black;

    cursor: pointer;
  }
  
  button1:hover {
    background-color: lightblue;
  }
  











