.remind-head{
    
    font-family: 'Lexend' ;
    font-size: 32px ;
    line-height: 48px;
    font-weight: 800;
    color: #171A1FFF;
    
        
}
.remind_page{
    display: flex;
    flex-direction: row;
    margin-right: 40rem;
    gap: 20px;
    
}

.excel-dropdown-menu6-remind {
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    background: #6D31EDFF;
    border-radius: 4px;
    width: 77px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 11px 9px 12px;
    margin-top: 40px;
    margin-left: 100px;
}

.remind-merge{
    display: flex;
    flex-direction: row;
    gap: 55rem;
}
#btn5{
    height: 36px;
padding: 0 12px;
display: flex;
align-items: center;
justify-content: center;
font-family: 'Manrope';
font-size: 14px;
line-height: 22px;
font-weight: 500;
color: #FFFFFFFF;
background: #62CD14FF;
opacity: 1;
border: none;
border-radius: 4px;
gap: 6px;
margin-top: 40px;
/* margin-top: 70px; */

}

.excel_form{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.remind-box{
    margin-top: 10px;
    width: 1120px;
height: 256px;
background: #FF56A512;
border-radius: 4px;
}

.reminds-box-head{
    font-family: 'Lexend';
font-size: 18px;
line-height: 28px;
font-weight: 400;
color: #323743FF;
padding: 5px;
margin-left: 30px;
}

.first-remindbx{
width: 281px;
height: 185px;
background: #15ABFF40;
border-radius: 8px;
}
.second-remindbx{
    width: 281px;
    height: 185px;
    background: #FFD31740;
    border-radius: 8px;
    }
    .third-remindbx{
        width: 281px;
        height: 185px;
        background: #F9623E40;
        border-radius: 8px;
        }

        .reminds-boxes{
            display: flex;
            gap: 10rem;
            margin-left: 20px;
            padding: 20px;
            
        }

        .table_remind{
            width: 1120.01px;
            height: 578px;
            opacity: 1;
            border-radius: 4px;
            box-shadow: 0px 8px 17px #171a1f, 0px 0px 2px #171a1f;
            margin-top: 7rem;
                }

                .table-remind-row{
font-family: 'Lexend';
font-size: 14px;
line-height: 22px;
font-weight: 600;
color: #565D6DFF;
                }
.remind-data{
    font-family: 'Manrope';
font-size: 14px;
line-height: 22px;
font-weight: 700;
color: #171A1FFF;
}
.remind-data1{
    font-family: 'Manrope';
font-size: 14px;
line-height: 22px;
font-weight: 400;
color: #171A1FFF;
}
.rem{
    height: 28px;
padding-left: 6px;
padding-right: 6px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 14px;
background-color: pink;
width: 100px;
margin-top: 24px;
  }
  .first_head_rem{
font-family: 'Manrope';
font-size: 14px;
line-height: 22px;
font-weight: 400;
color: #171A1FFF;
  }
  .rem-box{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 20px;
  }

  .external_remind{
    margin-top: 0px;
    width: 242px;
font-family: 'Manrope';
font-size: 14px;
line-height: 22px;
font-weight: 700;
color: #171A1FFF;
margin-left: 20px;
  }
  .time-remind{
    font-family: 'Manrope';
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #6F7787FF;
margin-left: 20px;
}














/* css of form */
.form-remind{
    width: 1096px;
height: 394px;
background: #F8F9FAFF;
border-radius: 8px;
border-width: 1px;
border-color: #F3F4F6FF;
border-style: solid;
box-shadow: 0px 4px 9px #171a1f, 0px 0px 2px #171a1f;
margin-top: 10rem;
}
.create_form_remind{
 
}
.create_form_head{
font-family: 'Lexend';
font-size: 32px;
line-height: 48px;
font-weight: 800;
color: #171A1FFF;
margin-top:50px;
}
.btn-submit_save_remind, .btn-submit_cancel_remind, .btn-submit_submit_remind {
    width: 140px;
    height: 36px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Manrope';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    position: relative;
  }
  
  .btn-submit_save_remind {
    background: #62cd14ff;
  }
  
  .btn-submit_cancel_remind {
    background: #de3b40ff;
  }
  
  .btn-submit_submit_remind {
    background: #6d31edff;
  }
  .btnsss_remind {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-top: -30px;
    flex-wrap: wrap;
  }

  .left-section{
    display: flex;
    flex-direction: column;
  }
  .remind_sub{
    font-family: 'Manrope';
font-size: 16px;
line-height: 26px;
font-weight: 700;
color: #171A1FFF;
margin-bottom: 20px;
margin-top: 20px;
  }
 

  .form-control-remind {
    width: 100%;
    max-width: 270px;
    height: 36px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: 'Manrope';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    background: #f3f4f6ff;
    border-radius: 4px;
    border-width: 1px;
    border-color: #dee1e645;
    outline: none;
    margin-left: 100px;
    position: relative;
    bottom: 5rem;
    left: 40px;

  }
  .right-section{
    display: flex;
    flex-direction: column;
  }
  .front_section{
    display: flex;
    flex-direction: row;
    gap: 13rem;
    margin-left: 50px;
  }
  .relatedremind_back {
    width: 256px;
    height: 951px;
    background: #fafafbff;
    border-radius: 0px;
    border-width: 1px;
    border-color: #ffffff;
    border-style: solid;
    box-shadow: 0px 2px 5px #171a1f, 0px 0px 2px #171a1f;
    margin-bottom: 20px;
  }
  .remind_back {
    width: 95px;
    height: 45px;
    padding-left: 20px;
    padding-right: 12px;
    font-family: 'Manrope';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    background: #ffffff;
    border-radius: 4px;
    border-width: 1px;
    border-color: #9095a1ff;
    outline: none;
    margin-left: 60px;
    position: relative;
    top: 100px;
  }
  .reminder_form_page{
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .submit-remind {
    width: 140px;
    height: 36px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Manrope';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    background: #6d31edff;
    opacity: 1;
    border: none;
    border-radius: 4px;
    margin-left: 45rem;
   
  }
 