.accounts_main_right_container{
  display:flex;
  flex-direction: column;
}

table {
  width: 85%;
  border-collapse: collapse;

}

th,
td {
  padding: 12px 15px;
  
  text-align: left;   
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 16px;
}

td a {
  /* color: #0066cc; */
  font-family: 'Manrope';
font-size: 14px;
  font-weight: 400;
  color: #171A1FFF;
}
.account_forms{
position: relative;
width: 1096px;
height: 700px;
background: #F8F9FAFF;
border-radius: 8px;
border-width: 1px;
border-color: #F3F4F6FF;
border-style: solid;
box-shadow: 0px 2px 5px #171a1f, 0px 0px 2px #171a1f;
margin-left: 20px;
margin-top: -20px;
}
.account_forms2{
  width: 1096px;
  position: relative;
  margin-top: 10px;
  margin-left: 25px;
  height: 285px;
  background: #F8F9FAFF;
  border-radius: 8px;
  border-width: 1px;
  border-color: #F3F4F6FF;
  border-style: solid;
  box-shadow: 0px 2px 5px #171a1f, 0px 0px 2px #171a1f;
}



/* td:  last-child {
  text-align: right;
} */

.accounts_main_page {
  display: flex;
  flex-direction: row;
  padding: 0px;
}

