.accounts_main_right_container{
  display:flex;
  flex-direction: column;
}

table {
  width: 85%;
  border-collapse: collapse;

}

th,
td {
  padding: 12px 15px;
  
  text-align: left;   
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 16px;
}

td a {
  /* color: #0066cc; */
  font-family: 'Manrope';
font-size: 14px;
  font-weight: 400;
  color: #171A1FFF;
}
.account_forms{

width: 1096px;
height: 120rem;
background: #F8F9FAFF;
border-radius: 8px;
border-width: 1px;
border-color: #F3F4F6FF;
border-style: solid;
box-shadow: 0px 2px 5px #171a1f, 0px 0px 2px #171a1f;
margin-left: 20px;
padding-top: 20px;
}
.account_forms2{
  width: 1096px;
  height: 150rem;
  position: relative;
  margin-top: 10px;
  margin-left: 25px;
  height: 285px;
  background: #F8F9FAFF;
  border-radius: 8px;
  border-width: 1px;
  border-color: #F3F4F6FF;
  border-style: solid;
  box-shadow: 0px 2px 5px #171a1f, 0px 0px 2px #171a1f;
}



/* td:  last-child {
  text-align: right;
} */

.accounts_main_page {
  display: flex;
  flex-direction: row;
  padding: 0px;
}

.acc_head{
font-family: 'Lexend';
font-size: 32px;
line-height: 48px;
font-weight: 800;
color: #171A1FFF;
}
.btnsss1 {
  display: flex;
  gap: 20px;
  padding-bottom: 12px;
  
  
}
.create_account3{
  font-family: 'Manrope';
font-size: 18px;
line-height: 28px;
font-weight: 700;
color: #171A1FFF;
margin-left: 20px;
}
.anual_ownership,.anual_email,.account_name,.account_site,.parent_account,.account_number,.account_type,
.industryy,.anual_revenue,.ratings,.anual_phone,.anual_fax,.anual_website,.anual_ticker,.anual_owner,.anual_employess{
  font-family: 'Manrope';
font-size: 16px;
line-height: 26px;
font-weight: 700;
color: #171A1FFF;
}
.anual_ticker{
  margin-left: 2rem;
}
.anual_employess{
  margin-left: 5rem;
}
.anual_fax{
  margin-left: 10rem;
}
.ratings{
  margin-left: 8rem;
}
.industryy{
margin-left: 6rem;
}
.anual_email{
  margin-left: 7rem;
}
.account_site{
  margin-left: 2rem;
}
.account_type{
margin-left: 1.3rem;
}
.anual_phone{
  margin-left: 7rem;
}
.anual_website{
  margin-left: 6rem;
}
.anual_owner{
  margin-left: 4rem;
}
.form-control_account1{
  width: 260px;
height: 36px;
padding-left: 12px;
padding-right: 12px;
font-family: 'Manrope';
font-size: 14px;
line-height: 22px;
font-weight: 400;
background: #F3F4F6FF;
border-radius: 4px;
border-width: 1px;
border-color: #DEE1E645;
outline: none;
margin-left: 20px;
}
.info_address{
  font-family: 'Manrope';
font-size: 18px;
line-height: 28px;
font-weight: 700;
color: #171A1FFF;
}
.bill_street,.bill_city,.bill_state,.bill_code,.bill_country,.ship_street,.ship_city,.ship_state,.ship_code,.ship_country,.ship_descri
{
  font-family: 'Manrope';
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #171A1FFF;
}
.bill_state{
  margin-left: 10px;
}
.ship_city{
  margin-left: 15px;
}
.bill_city{
  margin-left: 20px;
}
.bill_code{
  margin-left: 20px;
}
.photo{
  margin-left: 50px;
}
.upload_icon{
  margin-left: 60px;
  
}
.pic_btn{
  position: absolute;
  top: 1px;
}
.accounts_containerofcomp_accountstable1{
  position: relative;
  bottom: 5rem;
}
.relatedList-Accounts3{
    
  font-family: 'Manrope';

font-size: 14px;
font-weight: 400;
width: 80px;
text-align: center; 
height: 35px;
border-radius: 4px;
border-width: 1px;
border-color: #9095A1FF;
outline: none;
position: relative;
top: 170px;
left: 10px;
padding-left: 2px;
padding-top: 4px;

 }
 .form_account{
  position: relative;
  bottom: 5.5rem;
 }
 .back_container122{
  
  width: 250px;
  height: 700px;
  margin-top: 2px;
  background: #FAFAFBFF;
  margin-left: 1px;
  padding-top: 20px;
  border-radius: 0px;
  border-width: 1px;
  /* border-color: #FFFFFFFF; */
  /* border-style: solid; */
  position: relative;
  bottom: 14rem;
 }
.home_left_box1{
  position: relative;
  bottom: 13rem;
}
.account_nav{
  margin-left: 20rem;
  position: relative;
  bottom: 6rem;
}
.account-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure popup is above other content */
}

.account-popup-content {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto; /* Enable scrolling if content exceeds max height */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.account-popup-top{
  display: flex;
}

.account-popup-close {
  background-color:#3F0EA6FF ;
  cursor: pointer;
  font-size: 16px;
  color: white;
  padding: 1px;
  border: #3F0EA6FF;
  width: 5rem;
  margin-left: 9rem;
}

.account-popup-close:hover {
  color:#3F0EA6FF ;
}

.account-popup h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.account-popup ul {
  margin: 0;
  padding: 0;
}

.account-popup ul li {
  list-style-type: none;
  margin-bottom: 5px;
  color: #cc0000; /* Error message color */
}
/* CSS for ProductForm component */
.account-forms-page {
  position: relative; /* Ensure relative positioning for popups */
}

.account-popup2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure popup is above other content */
}

.account-popup-content2 {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto; /* Enable scrolling if content exceeds max height */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


.account-popup2 h2 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}


.account-popup-ok-button2 {
  background-color: #3F0EA6FF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.account-ok-button:hover {
  background-color: #3F0EA6FF;
}
