.LinkedIn_post {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.sidebar_container_for_LinkedIn{
    display: flex;
    margin-right: 2rem;
    
}


.home_left_box {
    flex-basis: 200px; 
    flex-shrink: 0;
}


.LinkedIn-header {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    width: 100%;
}

  
  
  .suggestions {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    z-index: 1000;
  }
  
  .suggestions li {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestions li:hover {
    background-color: #f0f0f0;
  }


.post-container {
    display: flex;
    flex-direction: column;
  }
  
  .LinkedInpost_content {
    width: 100%;
    max-width: 500px; 
    margin-bottom: 20px; 
  }
  
  .LinkedInpost_content textarea {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .upload-media-container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .upload-media-heading {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .upload-media-description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .upload-media-box {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
  }
  
  .upload-media-box.dragging {
    border-color: #000;
  }
  
  
  .upload-button input[type="file"] {
    display: none;
  }
  
  .upload-media-box p {
    margin: 10px 0;
  }
  
  .upload-actions {
    margin-top: 10px;
  }
  
  .upload-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  .upload-button:hover {
    background-color: #0056b3;
  }

  .attached-media {
    margin-top: 20px;
  }
  
  .media-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .media-item {
    position: relative;
  }
  
  .media-item img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
  }
  
  .media-item button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    border: none;
    cursor: pointer;
    padding: 2px 5px;
  }
  
  .caption-box {
    position: relative;
    width: 100%;
    max-width: 500px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box; 
  }
  .caption-box textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .caption-options {
    display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  }
  
  .emoji-picker-component {
    position: relative;
  }
  
  .emoji-icon {
    cursor: pointer;
    font-size: 20px;
  }
  
  .emoji-picker-dropdown {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1000;
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .letter-count {
    text-align: right;
    margin-top: 5px;
    font-size: 14px;
    color: #333;
  }
  
  .letter-count.exceeded {
    color: red;
  }
  .upload-options-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .upload-options-dropdown li {
    padding: 10px;
    cursor: pointer;
  }
  
  .upload-options-dropdown li:hover {
    background-color: #f0f0f0;
  }
  .toggle-comment-visibility {
    cursor: pointer;
    font-weight: bold;
  }
  
  
  .comment-input textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
.first-comment-box {
    width: 100%;
    max-width: 500px;
    margin-top: 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden; 
  }
  
  .comment-heading {
    background-color: #f9f9f9;
    padding: 10px;
    font-weight: bold;
  }
  
  .comment-input textarea {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-top: 1px solid #ccc; 
    resize: none;
  }
  .LinkedIn-campaign {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px; 
    margin-bottom: 20px; 
  }
  .LinkedIn-campaign h2{
    margin-top: 20px;
  }
  
  .campaign-box {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
  }
  .campaign-box p {
    margin-bottom: 20px;
  }
  .campaign-box hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  .promote-option-box {
    width: 100%;
    max-width: 500px;
    margin-top: 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden; 
    padding: 10px;
    font-size: 16px;
    border-top: 1px solid #ccc; 
  }
  
  .promote-heading {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .toggle-promote-visibility {
    cursor: pointer;
    margin-left: 10px;
  }
  
  .promote-content {
    margin-top: 10px;
    border-top: 1px solid #ccc; /* Add border to separate heading and content */
    padding-top: 10px; /* Add padding to create space between heading and content */
  }
  
  .promote-content p {
    margin-bottom: 10px;
  }
  
  .connect-ad-manager-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .connect-ad-manager-button:hover {
    background-color: #005
  }  
  .schedule-post-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 500px; /* Adjust width as needed */
  }
  
  .date-time-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .date-picker-box,
  .time-picker-box {
    flex: 1;
  }
  
  label {
    font-weight: bold;
  }
  .Post-preview {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 20px; 
  }
  .preview-content {
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: fit-content;
  }
  
  .Post-preview h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .Post-preview p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .preview-option-box {
    border-top: 1px solid #ccc; /* Add a border above the preview option box */
    padding-top: 20px; 
  }
  
  .Preview-heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .toggle-preview-visibility {
    margin-left: auto; /* Push the visibility toggle to the right */
    cursor: pointer;
  }
  
  
  .user-info {
    border-radius: 8px;
    padding: 10px; 
    background-color: white; 
    margin-bottom: 10px;
  }
  
  .user-name {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .post-media-grid {
    display: flex;
    gap: 10px;
  }
  .post-media-item {
    width: 300px; /* Fixed width */
    height: 300px; /* Fixed height */
    position: relative;
    overflow: hidden; /* Ensure image does not overflow the container */
    border: 1px solid #ccc; /* Optional: Add border */
    border-radius: 8px; /* Optional: Add rounded corners */
  }
  
  .post-media-item img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the entire image fits inside the container */
    display: block;
    border-radius: 8px;
  }
  
  
  
    .interaction-buttons {
      display: flex;
      margin-top: 10px;
      justify-content: space-around;
      gap: 10px; /* Space between buttons */
    }
    
    .interaction-buttons button {
      background-color: white;
      color: #000;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      padding: 10px 15px;
    }
  
  .caption-box textarea {
    font-size: 16px;
    border: 1px solid #ccc;
    margin-top: 10px;
  }
  
  .comment-input {
    margin-top: 10px;
  }
  
  .comment-input textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
  }
  .LinkedINauth {
    text-align: center;
  }
  
  .LinkedINauth h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .LinkedINauth button {
    background-color: #0077B5;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .LinkedINauth button:hover {
    background-color: #005d91;
  }
  