.custom-page {
    display: flex;
    flex-direction: row;
    gap: 1px;
}

.custom_topbar {
    position: relative;
    bottom: 4.5rem;
    right: 10rem;
}

.custom-head {
    font-family: 'Lexend';
    font-size: 32px;
    line-height: 48px;
    font-weight: 800;
    color: #171A1FFF;
    margin-left: 20px;
}

.create-custom {
    height: 34px;
    padding: 0 12px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Manrope';
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #FFFFFFFF;
    background: #62CD14FF;
    opacity: 1;
    border: none;
    border-radius: 4px;
    cursor: pointer; 

}

.custom-form-btn {
    display: flex;
    flex-direction: row;
    gap: 60%;
}

.custom-box {
    width: 1148px;
    background: #FFFFFFFF;
    border-radius: 6px;
    border-width: 1px;
    border-color: #F3F4F6FF;
    border-style: solid;
    box-shadow: 0px 8px 17px rgba(23, 26, 31, 0.2), 0px 0px 2px rgba(23, 26, 31, 0.2);
    margin-left: 25px;
    margin-top: 30px;
    padding: 20px;
}

.custom-box form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.custom-box input, .custom-box select, .custom-box button {
    padding: 10px;
    font-family: 'Manrope';
    font-size: 16px;
    line-height: 25px;
    border-radius: 4px;
    border: 1px solid #d1d5db;
}

.custom-box input, .custom-box select {
    width: 100%;
}

.custom-box button {
    background: #62CD14FF;
    color: white;
    border: none;
    cursor: pointer;
}

.custom-box .error-message {
    color: red;
    font-family: 'Manrope';
    font-size: 14px;
}

.custom-box .field-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.custom-box .field-container button {
    background: #FF4D4D;
}
