.campaign_heading{
    font-family: 'Lexend';
font-size: 32px;
line-height: 48px;
font-weight: 800;
color: #171A1FFF;
position: relative;
left:70px;
top: 30px;
}

.campaign_page{
    display: flex;
    flex-direction: row;
}
#btn11{
    padding: 7px 11px 9px 12px;
  gap: 0px;
  border-radius: 4px 4px 4px 4px;
  width: 120px;
  align-items: center;
  

  color: white;
  background: #FFFFFFFF;
  background: #4CA110FF;
  font-weight: 400;
  font-family: 'Manrope';
  font-size: 14px;
  
}
.excel-dropdown-menu3 {
    /* Your custom styles here */
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    background: #6D31EDFF;
    border-radius: 4px;
    width: 77px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 11px 9px 12px;
    position: relative;
    top: -5px;
   
    
  }
  .campaign_excelbtn{
display: flex;
margin-top: 50px;
gap: 20px;
justify-content: flex-end;
margin-left: 20px;
position: relative;

  }
  .campaign_firstbox{
    width: 237px;
    height: 122px;
    background: #D3FFB2FF;
    border-radius: 4px;
    box-shadow: 0px 8px 17px #171a1f, 0px 0px 2px #171a1f;
   
  }
  .campaign_secondbox{
    width: 239px;
    height: 122px;
    background: #6D31ED42;
    border-radius: 4px;
    box-shadow: 0px 8px 17px #171a1f, 0px 0px 2px #171a1f;
  }
  .campaign_thirdbox{
    width: 239px;
    height: 122px;
    background: #FFD31724;
    border-radius: 4px;
    box-shadow: 0px 8px 17px #171a1f, 0px 0px 2px #171a1f;
  }
  .campaign_fourthbox{
    width: 239px;
    height: 122px;
    background: #FF56A530;
    border-radius: 4px;
    box-shadow: 0px 8px 17px #171a1f, 0px 0px 2px #171a1f;
  }
  .campaign_boxes{
width: 400px;
height: 300px;
color: aqua;
  }
  .campaign-boxes{
  width: 1200px;
  height: 400px;
  background: #ffffff;
  border-radius: 4px;
  position: relative;
  position: relative;
  top: 20px;
  left: 20px;
  
  }
  .campaign-bigboxes{
display: inline-flex;
gap: 30px;
  }
  .campaign_btn_social{
  
    position: relative;
    display: flex;
    flex-direction: row;
  }
  .social_btn{
    width:250px;  
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 40px;
   
font-family: 'Manrope';
font-size: 14px;
line-height: 22px;
font-weight: 400;
background: #F3F4F6FF;
opacity: 1;
border-radius: 4px;

height: 40px;
box-shadow: 0px 2px 5px #171a1f, 0px 0px 2px #171a1f;
  }
  .campanign_btn1{
    width: 47.34px;
     height: 36px; 
    display: flex;
    flex: 1 1 0;
    align-items: center;
    justify-content: center;
    font-family: 'Manrope';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #323743FF;
    background: #F3F4F6FF;
    opacity: 1;
    border-radius: 4px 0px 0px 4px;
    cursor: pointer;
  }
  .campaign_btn1 :hover{
    color: #323743FF;
background: #CFD2DAFF;
  }
  .campanign_btn2{
    width: 47.34px;
/* height: 36px; */
display: flex;
flex: 1 1 0;
align-items: center;
justify-content: center;
font-family: 'Manrope';
font-size: 14px;
line-height: 22px;
font-weight: 400;
color: #323743FF;
background: #F3F4F6FF;
opacity: 1;
border-radius: 4px 0px 0px 4px;
cursor: pointer;
  }
  .campanign_btn3{
    width: 47.34px;
/* height: 36px; */
display: flex;
flex: 1 1 0;
align-items: center;
justify-content: center;
font-family: 'Manrope';
font-size: 14px;
line-height: 22px;
font-weight: 400;
color: #323743FF;
background: #F3F4F6FF;
opacity: 1;
border-radius: 4px 0px 0px 4px;
cursor: pointer;
  }
  .campanign_btn4{
    width: 47.34px;
/* height: 36px; */
display: flex;
flex: 1 1 0;
align-items: center;
justify-content: center;
font-family: 'Manrope';
font-size: 14px;
line-height: 22px;
font-weight: 400;
color: #323743FF;
background: #F3F4F6FF;
opacity: 1;
border-radius: 4px 0px 0px 4px;
cursor: pointer;
  }
  .campanign_btn5{
    width: 47.34px;
/* height: 36px; */
display: flex;
flex: 1 1 0;
align-items: center;
justify-content: center;
font-family: 'Manrope';
font-size: 14px;
line-height: 22px;
font-weight: 400;
color: #323743FF;
background: #F3F4F6FF;
opacity: 1;
border-radius: 4px 0px 0px 4px;
cursor: pointer;
  }
  .table_camp{
    width: 1070px;
height: 893px;
opacity: 1;
border-radius: 8px;
box-shadow: 0px 8px 17px #171a1f, 0px 0px 2px #171a1f;
position: relative;
  }
  .Campaign_table_name,.Campaign_table_owner,.Campaign_table_channel,.Campaign_table_created,.Campaign_table_status,.Campaign_table_est{
           
        font-family: 'Lexend';
        font-size: 14px;
        line-height: 22px;
        font-weight: 600;
        color: #565D6DFF;
        
  }
  .campaign_table_row{
    border: 1px solid #ddd;
  }
  .view-mode-select_campaign{
    width: 161px;
    height: 36px;
    padding-left: 12px;
    padding-right: 34px;
    font-family: 'Manrope';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #171A1FFF;
    background: #F3F4F6FF;
    border-radius: 4px;
    border-width: 0px;
    outline: none;
    position: relative;
  }
  /*  form css */
  .campaign_form_head{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

  }
  .campaign_form_heading{
    font-family: 'Lexend';
font-size: 32px;
line-height: 48px;
font-weight: 800;
color: #171A1FFF;
position: relative;
left:-900px;
top: 60px;
}
.btnsss10{
  display: flex;
  gap: 20px;
  padding-left: 960px;
  position: relative;
  top: -700px;

  
   }
   .btn-submit40{
    width: 140px;
    height: 36px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Manrope';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #FFFFFFFF;
    background: #62CD14FF;
    opacity: 1;
    border: none;
    border-radius: 4px;
    position: relative;
    
   }
   .btn-submit50{
    width: 140px;
    height: 36px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Manrope';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #FFFFFFFF;
    background: #DE3B40FF;
    opacity: 1;
    border: none;
    border-radius: 4px;
    position: relative;
    
   }
   .btn-submit60{
    width: 140px;
    height: 36px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Manrope';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #FFFFFFFF;
    background: #6D31EDFF;
    opacity: 1;
    border: none;
    border-radius: 4px;
    position: relative;
   }
   .capaign_form_container{
    width: 1053px;
height: 469px;
background: #FAFAFBFF;
border-radius: 4px;
border-width: 1px;
border-color: #F3F4F6FF;
border-style: solid;
position: relative;
top: -600px;
left: 340px;

   }
  .campaign_data_name{
    width: 1021.98px;
height: 893px;
opacity: 1;
border-radius: 8px;
font-family: 'Manrope';
box-shadow: 0px 8px 17px #171a1f, 0px 0px 2px #171a1f;
  }
  td{
    font-family: 'Lexend';
  }
  .campaign_data_status{
font-family: 'Lexend';
color:cadetblue
;
  }
  .cont_email{
    color: Red;
  }
  .total_campaign{
    font-family: 'Manrope';
font-size: 14px;
line-height: 22px;
font-weight: 700;
color: #323743FF;
position: relative;
left: 20px;
  }
  .total_send{
    font-family: 'Manrope';
font-size: 14px;
line-height: 22px;
font-weight: 700;
color: #323743FF;
position: relative;
left: 20px;
  }
  .total_clicks{
    font-family: 'Manrope';
font-size: 14px;
line-height: 22px;
font-weight: 700;
color: #323743FF;
position: relative;
left: 20px;
  }
  .Total_revenue{
    font-family: 'Manrope';
font-size: 14px;
line-height: 22px;
font-weight: 700;
color: #323743FF;
position: relative;
left: 20px;
  }
  .total_campaign1{
    font-family: 'Lexend';
font-size: 32px;
line-height: 48px;
font-weight: 600;
color: #323743FF;
position: relative;
left: 30px;
  }
  .total_sended1{
    font-family: 'Lexend';
font-size: 32px;
line-height: 48px;
font-weight: 600;
color: #323743FF;
position: relative;
left: 30px;
  }
  .total_clicks1{
    font-family: 'Lexend';
font-size: 32px;
line-height: 48px;
font-weight: 600;
color: #323743FF;
position: relative;
left: 30px;
  }
  .total_revenue1{
    font-family: 'Lexend';
font-size: 32px;
line-height: 48px;
font-weight: 600;
color: #323743FF;
position: relative;
left: 30px;
  }

  .campaign_forms{
    width: 1196px;
  height: 600px;
  background:  #FAFAFBFF;
  border-radius: 4px;
  border-width: 1px;
  border-color: #F3F4F6FF;
  border-style: solid;
  margin-left: -56px;

   }
   .campaign_name,.campaign_owner,.campaign_start_date,.campaign_end_date,.campaign_expected_revenue,.campaign_message{
    font-family: 'Manrope';
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: #171A1FFF;
   }
   .campaign_name,.campaign_owner{
  margin-left: 130px;
   }
   
   .form-campaign_name,.form-campaign_owner,.form-campaign_start_date,.form-campaign_end_date,.form-campaign_expected_revenue
   {
    width: 260px;
height: 36px;
padding-left: 12px;
padding-right: 12px;
font-family: 'Manrope';
font-size: 14px;
line-height: 22px;
font-weight: 400;
background: #F3F4F6FF;
border-radius: 4px;
border-width: 1px;
border-color: #DEE1E645;
outline: none;
   }
   .form-campaign_message{
    width: 763px;
    height: 95px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: 'Manrope';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #BDC1CAFF;
    background: #F3F4F6FF;
    border-radius: 4px;
    border-width: 1px;
    border-color: #9095A11C;
    outline: none;
    position: relative;
    left: -430px;
    top: 130px;
    margin-left: 130px;
   }
   .form-campaign_name{
    position: relative;
    margin-left: 20px;
   }
   .campaign_owner{
    position: relative;
    top: 50px;
    left: -600px;
   }
   .form-campaign_owner{
    position: relative;
    top: 60px;
    left: -600px;
    margin-left: 20px;
   }
   .campaign_start_date{
position: relative;
top: 45px;
margin-left: 157px;

   }
   .form-campaign_start_date{
    position: relative;
    top: 50px;
    margin-left: 20px;

   }
   .campaign_end_date{
    position: relative;
    top:115px;
    left: -570px;
    margin-left: 170px;
    
       }
       .form-campaign_end_date{
        position: relative;
top: 115px;
left: -600px;
margin-left: 50px;
       }

       .campaign_expected_revenue{
        position: relative;
        top: 100px;
        margin-left: 130px;
        
       }
       .form-campaign_expected_revenue{
        position: relative;
        top: 100px;
        margin-left:20px ;
    
       }
       .campaign_message{
position: relative;
top: 170px;
left: -600px;
margin-left: 130px;
       }
       .create_campaign{
        font-family: 'Manrope';
font-size: 16px;
line-height: 26px;
font-weight: 700;
color: #171A1FFF;
margin-left: 60px;
       }
       .audience_campaign{
        font-family: 'Manrope';
        font-size: 16px;
        line-height: 26px;
        font-weight: 700;
        color: #171A1FFF;
        margin-left: 60px;
        position: relative;
        top: -380px;
        left: 800px;       }
  .roundicon{
 width: 28px;
height: 28px;
background: #6D31EDFF;
border-radius: 14px;
color: #ffffff;
padding-left: 5px;
position: relative;
top: -410px;
left: 800px;


  } 
  .roundicon1{
    width: 28px;
   height: 28px;
   background: #6D31EDFF;
   border-radius: 14px;
   color: #ffffff;
   padding-left: 5px;
   position: relative;
  top: -25px;
  left: 10px;
   
   
     } 
     .expected_response{
      font-family: 'Manrope';
      font-size: 16px;
      line-height: 26px;
      font-weight: 700;
      color: #171A1FFF;
      position: relative;
      top: -360px;  
      left: 780px;

     }
     .form-campaign_expected_count{
      width: 240px;
      height: 36px;
      padding-left: 12px;
      padding-right: 12px;
      font-family: 'Manrope';
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      background: #F3F4F6FF;
      border-radius: 4px;
      border-width: 1px;
      border-color: #DEE1E645;
      outline: none;
      position: relative;
      top: -360px;
      left: 794px;
     }
     .campanign_btn_form{
      width: 48px;
      height: 36px; 
      display: flex;
      flex: 1 1 0;
      align-items: center;
      justify-content: center;
      font-family: 'Manrope';
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      color: #323743FF;
      background: #0090FFFF;
      opacity: 1;
      border-radius: 4px 0px 0px 4px;
      cursor: pointer;
    }
    .campanign_btn_form2{
      width: 47.34px;
  /* height: 36px; */
  display: flex;
  flex: 1 1 0;
  align-items: center;
  justify-content: center;
  font-family: 'Manrope';
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #323743FF;
  background: #F3F4F6FF;
  opacity: 1;
  border-radius: 4px 0px 0px 4px;
  cursor: pointer;
    }
    .campanign_btn_form3{
      width: 47.34px;
  /* height: 36px; */
  display: flex;
  flex: 1 1 0;
  align-items: center;
  justify-content: center;
  font-family: 'Manrope';
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #323743FF;
  background: #F3F4F6FF;
  opacity: 1;
  border-radius: 4px 0px 0px 4px;
  cursor: pointer;
    }
    .campanign_btn_form4{
      width: 47.34px;
  /* height: 36px; */
  display: flex;
  flex: 1 1 0;
  align-items: center;
  justify-content: center;
  font-family: 'Manrope';
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #323743FF;
  background: #F3F4F6FF;
  opacity: 1;
  border-radius: 4px 0px 0px 4px;
  cursor: pointer;
    }
    .campanign_btn_form5{
      width: 47.34px;
  /* height: 36px; */
  display: flex;
  flex: 1 1 0;
  align-items: center;
  justify-content: center;
  font-family: 'Manrope';
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #323743FF;
  background: #F3F4F6FF;
  opacity: 1;
  border-radius: 4px 0px 0px 4px;
  cursor: pointer;
    }
    .capaign_form_section{
      width: 150px;
      gap: 15px;
      
      position: relative;
      top: -325px;
      left: 350px;
      display: flex;
align-items: center;
font-family: 'Manrope';
font-size: 14px;
line-height: 22px;
font-weight: 400;
background: #F3F4F6FF;
opacity: 1;
border-radius: 4px;
box-shadow: 0px 2px 5px #171a1f, 0px 0px 2px #171a1f;
    }
    .campaign_type{
      font-family: 'Manrope';
      font-size: 16px;
      line-height: 26px;
      font-weight: 700;
      color: #171A1FFF;
      position: relative;
      top: -300px;
      left: 280px;
    }
    .campaign_expected_response{
      font-family: 'Manrope';
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: #171A1FFF;
    position: relative;
    left: 750px;
    top: -300px;
    }
    .form-campaign_expected_response{
      width: 260px;
      height: 36px;
      padding-left: 12px;
      padding-right: 12px;
      font-family: 'Manrope';
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      background: #F3F4F6FF;
      border-radius: 4px;
      border-width: 1px;
      border-color: #DEE1E645;
      outline: none;
      position: relative;
      top: -300px;
      left: 760px;
    }
    .campaign_expected_count{
      font-family: 'Manrope';
      font-size: 16px;
      line-height: 26px;
      font-weight: 700;
      color: #171A1FFF;
      position: relative;
      left: 770px;
      position: relative;
      top: -360px;
     
    }