.alltogether{
    display: flex;
    flex-direction: row;
}
.subjectlist{
    font-weight:lighter;
    font-size: 20px;
    padding: 2px;
    margin-top: 30px;
    
    
}
.info5{

  background-color: #ffffff;
  margin: 1px ;
  border-radius: 50px;
  width: 300px;
  height:700px;
  /* width: 350vh; */
  /* max-width: 1300px; */
  /* margin-top: 39px; */
  text-align: left;
  font-size: 20px;
  padding: 2rem;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
li{
    margin: 20px 0;
    font-weight: normal;
}
.modal-content {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
   
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .closetask{
    position: relative;
    right:-800px;
    top: -230px;
    


  }
  .close-task-button
{
    background-color: lightblue;
    font-weight: lighter;
    color: #ffffff;
    border-radius: 4px;
    width: 150px;
}  