.alltogether{
    display: flex;
    flex-direction: row;
}
.subjectlist{
    font-weight:lighter;
    font-size: 20px;
    padding: 2px;
    margin-top: 30px;
    
    
}
.tasks_main_component{
  display: flex;
  flex-direction: row;
}
.create1{
  height: 34px;
  padding: 0 12px;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Manrope';
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  color: #FFFFFFFF;
  background: #62CD14FF;
  opacity: 1;
  border: none;
  border-radius: 4px;
}
.task_header{
  font-family: 'Lexend';
  font-size: 32px;
line-height: 48px;
font-weight: 800;
color: #171A1FFF;
}
.meet1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.excel_header_task{
  display: flex;
  gap: 20px;
}
.info5{

  background-color: #ffffff;
  margin: 1px ;
  border-radius: 50px;
  width: 300px;
  height:700px;
  /* width: 350vh; */
  /* max-width: 1300px; */
  /* margin-top: 39px; */
  text-align: left;
  font-size: 20px;
  padding: 2rem;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
li{
    margin: 20px 0;
    font-weight: normal;
}
.modal-content {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
   
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .closetask{
    position: relative;
    right:-800px;
    top: -230px;
    


  }
  .close-task-button
{
    background-color: lightblue;
    font-weight: lighter;
    color: #ffffff;
    border-radius: 4px;
    width: 150px;
}  
.table_head{
  margin-top: 100px;
  width: 1253px;
  height: 893px;
  opacity: 1;
  border-radius: 8px;
  box-shadow: 0px 4px 9px #171a1f, 0px 0px 2px #171a1f;
}
.table_Subject,.table_status,.table_due,.table_priority,.table_description,.table_contact {
  font-family: 'Lexend';
font-size: 14px;
line-height: 22px;
font-weight: 600;
color: #565D6DFF;
}
.task_status{
  font-family: 'Manrope';
font-size: 14px;
line-height: 22px;
font-weight: 400;
color: #171A1FFF;
}
.task_due_date{
  font-family: 'Manrope';
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #9095A1FF;
}
.task_due_date,.task_priority,.task_description,.task_contact{
  font-family: 'Manrope';
font-size: 14px;
line-height: 22px;
font-weight: 400;
color: #565D6DFF;
}
.tasks-tiles-container {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(270px,0fr)); 
  gap: 30px; 
  justify-content: flex-start; 
  margin: 70px auto; 
}
.task-tile {
  background-color: #ffffff;
  margin-bottom: 4px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 15px;
  max-width: 280px; /* Maximum width for each tile */
  height: 180px; /* Adjust tile height */
  display: inline-block;
  margin: 0 10px 10px 0;
  flex-direction: column;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Add initial drop shadow */
  transition: all 0.3s ease; /* Add transition for smooth effect */
}

.task-tile:hover {
  transform: translateY(-5px); /* Move tile up on hover */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2); /* Add larger drop shadow on hover */
}





   /* Task form css */
/* Task form css */
.task_form {
  display: flex;
  flex-direction: row;
  gap: 80px;
  flex-wrap: wrap;
}

.relatedTask_back {
  width: 256px;
  height: 951px;
  background: #fafafbff;
  border-radius: 0px;
  border-width: 1px;
  border-color: #ffffff;
  border-style: solid;
  box-shadow: 0px 2px 5px #171a1f, 0px 0px 2px #171a1f;
  margin-bottom: 20px;
}

.task_back {
  width: 95px;
  height: 45px;
  padding-left: 20px;
  padding-right: 12px;
  font-family: 'Manrope';
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  background: #ffffff;
  border-radius: 4px;
  border-width: 1px;
  border-color: #9095a1ff;
  outline: none;
  margin-left: 60px;
  position: relative;
  top: 100px;
}

.btn-submit_save_task, .btn-submit_cancel_task, .btn-submit_submit_task {
  width: 140px;
  height: 36px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Manrope';
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  position: relative;
}

.btn-submit_save_task {
  background: #62cd14ff;
}

.btn-submit_cancel_task {
  background: #de3b40ff;
}

.btn-submit_submit_task {
  background: #6d31edff;
}

.btnsss_task {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-top: -30px;
  flex-wrap: wrap;
}

.task_form_header {
  font-family: 'Lexend';
  font-size: 32px;
  line-height: 48px;
  font-weight: 800;
  color: #171a1fff;
  margin-bottom: 20px;
}

.task_head_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.form_task_form {
  width: 100%;
  max-width: 1096px;
  background: #f8f9faff;
  border-radius: 8px;
  border-width: 1px;
  border-color: #f3f4f6ff;
  border-style: solid;
  box-shadow: 0px 2px 5px #171a1f, 0px 0px 2px #171a1f;
  padding: 20px;
  margin-top: 60px;
}

.form_row_head {
  font-family: 'Manrope';
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #171a1fff;
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
  max-width: 270px;
  height: 36px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: 'Manrope';
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  background: #f3f4f6ff;
  border-radius: 4px;
  border-width: 1px;
  border-color: #dee1e645;
  outline: none;
  margin-bottom: 20px;
}

.form-task_description {
  width: 100%;
  max-width: 445px;
  height: 130px;
  padding: 7px 12px;
  font-family: 'Manrope';
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #9095a1ff;
  background: #f3f4f6ff;
  border-radius: 4px;
  border-width: 1px;
  border-color: #9095a11c;
  outline: none;
  margin-bottom: 20px;
}

.form-control_account {
  width: 100%;
  max-width: 260px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: 'Manrope';
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  background: #f3f4f6ff;
  border-radius: 4px;
  border-width: 1px;
  border-color: #dee1e645;
  outline: none;
  margin-bottom: 20px;
}

.submit {
  width: 140px;
  height: 36px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Manrope';
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background: #6d31edff;
  opacity: 1;
  border: none;
  border-radius: 4px;
  position: relative;
  top: 200px;
  left: -30px;
}

/* Media Queries */
@media (max-width: 768px) {
  .task_form {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .relatedTask_back {
    width: 100%;
    height: auto;
  }

  .task_back {
    margin-left: 0;
    top: 20px;
    width: 100%;
    text-align: center;
  }

  .task_head_line {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .btnsss_task {
    flex-direction: column;
    gap: 10px;
    padding-left: 0;
    justify-content: center;
    margin-top: 20px;
  }

  .form_task_form {
    width: 100%;
    margin-top: 20px;
  }

  .submit {
    top: 20px;
    left: 0;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .task_form {
    gap: 40px;
  }

  .btnsss_task {
    padding-left: 0;
  }

  .form-control,
  .form-task_description,
  .form-control_account {
    width: 100%;
  }
}

