.whatsapp-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
  }
  
  .messages-container1 {
    flex: 1;
    overflow-y: scroll;
  }
  .message1{
    position: relative;
    top: -20px;
  }
  
 .message1 textarea{ flex: 1;
  min-width: 700px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
 border-color: black;
}
  
  .user {
    align-self: flex-end;
    background-color: #DCF8C6;
  }
  
  .AI {
    align-self: flex-start;
    background-color: #E5E5EA;
  }
  
  .input-container1 {
    display: flex;
    margin-top: 20px;
  }
  
  inputt[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  

  

  button1 {

    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5F9EA0;
    color: black;

    cursor: pointer;
  }
  

  .sendmsg :hover {

    background-color: lightblue;
  } 
  .generatemsg:hover{
    background-color: #ccc;
  }
  
  