.bulk-import-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.uploadexcel{
  color:black;
  padding: 10px 20px;
  border: none;
  
  border-radius: 5px;
  cursor: pointer;
  background-color: #789ad8;
}

.uploadexcel-container {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 30%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="file"] {
  margin-top: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

button {
  color: white;
  padding: 10px 20px;
  border: none;
  
  border-radius: 5px;
  cursor: pointer;
  background-color: #6495ED;
}
.get{
  padding: 20px;
}

.getcolumn:hover {
  background-color: lightblue ;
}

.error-message {
  color: red;
}
.modalName{
  font-weight:normal;
  font-size: 20px;
}

.Entities{
  align-content: space-between;
}