.bulk-importing {
  display: flex;
  flex-direction: column;
}

.sidebar-container {
  display: flex;
}

.bulk-import-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.uploadexcel{
  color:black;
  padding: 10px 20px;
  border: none;
  
  border-radius: 5px;
  cursor: pointer;
  background-color: #789ad8;
}

.uploadexcel-container {
  margin-bottom: 20px;
}

input1[type="text"] {
  width: 30%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input1[type="file"] {
  margin-top: 10px;
}

ul1 {
  list-style-type: none;
  padding: 0;
}

li1 {
  margin-bottom: 5px;
}

button1 {
  color: white;
  padding: 10px 20px;
  border: none;
  
  border-radius: 5px;
  cursor: pointer;
  background-color: #6495ED;
}
.get{
  padding: 20px;
}

.getcolumn:hover {
  background-color: lightblue ;
}

.error-message {
  color: red;
}
.modalName{
  font-weight:normal;
  font-size: 20px;
}

.Entities{
  align-content: space-between;
}

.sidebar {
  flex: 0 0 auto; /* Prevent sidebar from shrinking */
}

.content {
  flex: 1; 
  margin-left: 20px; 
}

.bulk-import-heading {
  margin-bottom: 20px; 
  font-weight: bold;
}
.bulk-boxes-container {
  display: flex;
  gap: 65px;
}

.bulk-box {
  flex: 1;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  height: 600px;
  background-color: #f9f9f9;
  
}

.bulk-box h2 {
  display: flex;
  background-color: #CDCED0FF;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}

.bulk-upload-container {
  
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  margin-top: 10px;
}

.bulk-upload-container p {
  
  margin-bottom: 6rem;
}

.bulk-upload-container button {
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 5rem;
  border-radius: 8px;
  background-color: #6D31EDFF;
  color: #FFFFFFFF;
  width:20rem;
}
.or-divider {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20rem;
}
select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #6D31EDFF; /* Light blue background */
  margin-bottom: 2rem;
}
.bulk-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

.bulk-cancel-button {
  padding: 10px 20px;
  background-color: #ff4d4d; /* Red */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bulk-save-button {
  padding: 10px 20px;
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 2rem;
}