.dndflow {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 100%;

  }
  
  .dndflow aside {
    border-right: 1px solid #eee;
    padding: 15px 10px;
    font-size: 12px;
    background: #fffdfa;
  }
  
  .dndflow aside .description {
    margin-bottom: 10px;
  }
  
  .dndflow .dndnode {
    height: 20px;
    padding: 4px;
    border: 1px solid #1a192b;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    background-color: white;
  }
  
  .dndflow .dndnode.input {
    border-color: #0041d0;
    background-color: white;
  }
  
  .dndflow .dndnode.output {
    border-color: #ff0072;
    background-color: white;
  }
  
  .dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
  }
  
  .dndflow .selectall {
    margin-top: 10px;
  }
  
  @media screen and (min-width: 768px) {
    .dndflow {
      flex-direction: row;
    }
  
    .dndflow aside {
      width: 20%;
      max-width: 250px;
    }
  }
  .updatenode{
    background-color: #b5e8f8;
    padding: 10px;

  }
  .updatenode input{
    padding:2px;
    margin-top: 10px;
    margin-bottom: 12px;
    text-align: center;
  }
/*custom node here*/
/* Target the first div */
.react-flow__node-customNode > div:nth-last-child(1) {
  background-color: lightgreen;
}
.react-flow__node-buttonNode > div:nth-last-child(1) {
  background-color: feedcf;
}
.send-button {
  background-color: #4CAF50; /* Green background */
  border: none; /* Remove border */
  color: white; /* White text */
  padding: 8px 16px; /* Adjust padding to make it smaller */
  font-size: 14px; /* Reduce font size */
  margin: 4px 2px; /* Margin */
  cursor: pointer; /* Cursor on hover */
  border-radius: 4px; /* Rounded corners */
  height: 10vh;
  width: 20vh;
}

