/* report.css */
.dropdown-menu {
  display: flex !important;
  flex-direction: column !important;
}

.dropdown-item {
  width: 100% !important;
  text-align: left !important;
}
.report-sidebar{
  margin-top: 30px;
}
.report-sidebar1{
  width: 256px;
  height: 1188px;
  background: #FAFAFBFF;
  border-radius: 0px;
  border-width: 1px;
  border-color: #FFFFFFFF;
  border-style: solid;
  box-shadow: 0px 2px 5px #171a1f, 0px 0px 2px #171a1f;
  padding: 20px;
  z-index: 5  ;
  
 
}
#back-inter-report{
 


  font-family: "Manrope";
  
    
    border: 1px solid #DDD ;
    position: relative;
    border-radius: 4px;
   
  
    
  }
  .report-page{
    display: flex;
    flex-direction: row;

}

.report_nav{
   position: relative;
   bottom: 5rem;
   left: 4px;
 
}
.report-table{
  width: 1200px;
  height: 893px;
  opacity: 1;
  border-radius: 8px;
  box-shadow: 0px 8px 17px #171a1f, 0px 0px 2px #171a1f;

  

}