

.calls{
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin:0px;
  
} 
.meettt-info{
  position: relative;
  bottom: 10rem;
}
.meet{
  margin:20px;
  padding:10px;
  display:flex;
  flex-direction: row;
  gap:20px;
  justify-content: flex-end;

}  
.records5{
  margin:10px;
  padding:10px;
  display: flex;
  justify-content: flex-end;
  background-color: gainsboro;
  border-radius: 3px;
}

.page{
  border-radius: 4px;
 margin-left: -130px;
position: relative;
top: 90px;

}


.meet_client_meet{
  height: 34px;
  padding: 0 12px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Manrope';
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #FFFFFFFF;
  background: #62CD14FF;
  opacity: 1;
  border: none;
  border-radius: 4px;
  gap: 6px;
}


#modal {
 
  margin: 0 auto;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  margin-top: 641px
} 
.meeting-form-container {

  width: 600px;
  margin: 0 auto;
height: 741px;
padding: 20px;
background: #FAFAFBFF;
border-radius: 8px;
border-width: 1px;
border-color: #F3F4F6FF;
border-style: solid;
box-shadow: 0px 17px 35px #171a1f, 0px 0px 2px #171a1f;
}

.form-fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form-legend {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.form-label {
  display: block;
  margin: 7px;
  font-weight: bold;
}
#reminder{
  
    width: 175px;
    height: 34px;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-input[type="textarea"] {
  height: 100px; 
}

.form-button-container1 {
  display: flex;
  justify-content: flex-end;
 
  margin: 22px;
  margin-top: 440px;
  gap: 330px;
  
}
.blur {
  filter: blur(5px); /* Adjust the blur intensity as needed */
}


.form-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.cancel-button {
  background-color: #ccc;
  color: #fff;
}

.cancel-button:hover {
  background-color: #999;
}

.save-button {
  background-color: #4CAF50;
  color: #fff;
}

.save-button:hover {
  background-color: #45a049;
}
.excel-download-btn2{
  background-color: lightblue;
  width: 50px;
  border-radius: 4px;
}

.excel-dropdown-menu6 {
  /* Your custom styles here */
  font-family: 'Manrope';
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  background: #6D31EDFF;
  border-radius: 4px;
  width: 77px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 11px 9px 12px;
  position: relative;
  top: -5px;
}
.home_left_box{
  position: relative;
bottom: 13rem;
}
.meeting_head{
  font-family: 'Lexend';
font-size: 32px;
line-height: 48px;
font-weight: 800;
color: #171A1FFF;
margin-left: 20px;
}
.meeting-tile {
  background-color: #ffffff;
  margin-bottom: 4px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 15px;
  max-width: 280px; /* Maximum width for each tile */
  height: 180px; /* Adjust tile height */
  display: inline-block;
  margin: 0 10px 10px 0;
  flex-direction: column;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Add initial drop shadow */
  transition: all 0.3s ease; /* Add transition for smooth effect */
}

.meeting-tile:hover {
  transform: translateY(-5px); /* Move tile up on hover */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2); /* Add larger drop shadow on hover */
}

.table10{
  margin-top: 100px;
  width: 1200px;
  height: 893px;
  opacity: 1;
  border-radius: 8px;
  box-shadow: 0px 8px 17px #171a1f, 0px 0px 2px #171a1f;
  margin-left: -1100px;
}
.title-meet,.from_meet,.To_meet,.related_meet,.name_meet,.host_meet{
  font-family: 'Lexend';
font-size: 14px;
line-height: 22px;
font-weight: 600;
color: #565D6DFF;
}
.title_row_data,.from_row_data{
  font-family: 'Manrope';
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #171A1FFF;
}

.to_row_data{
  font-family: 'Manrope';
font-size: 14px;
line-height: 22px;
font-weight: 700;
color: #171A1FFF;
}
.related_row_data{
  font-family: 'Manrope';
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #379AE6FF;
}
.contact_row_data,.host_meet_data{
 
    
    font-family: 'Manrope';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #171A1FFF;
    
}
.action_meet{
  font-family: 'Lexend';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #171A1FFF;
}
 .action_data{
 
  width: 24px;
  height: 24px;
  /* fill: #9095A1FF; */
 
} 
.form-label-title{
  font-family: 'Manrope';
font-size: 16px;
line-height: 26px;
font-weight: 700;
color: #171A1FFF;
position: relative;
left: 170px;
top: 40px;
}
.form-input-title{
  width: 260px;
  height: 36px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: 'Manrope';
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  background: #F3F4F6FF;
  border-radius: 4px;
  border-width: 1px;
  border-color: #DEE1E645;
  outline: none;
  position: relative;
  top: 90px;
  left: 60px;
  color: #171a1f;

}
.form-input-location{
  width: 260px;
  height: 36px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: 'Manrope';
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  background: #F3F4F6FF;
  border-radius: 4px;
  border-width: 1px;
  border-color: #DEE1E645;
  outline: none;
  position: relative;
  left:103px;
  top: 150px;
}
.form-label-location{
  font-family: 'Manrope';
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #171A1FFF;
  position: relative;
  left: -140px;
  top: 140px;
}
.form-label-time{
  font-family: 'Manrope';
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #171A1FFF;
  position: relative;
  top: 200px;
  left: -100px;
}
.form-input-fromtime{
  width: 260px;
  height: 36px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: 'Manrope';
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  background: #F3F4F6FF;
  border-radius: 4px;
  border-width: 1px;
  border-color: #DEE1E645;
  outline: none;
  position: relative;
  left:110px;
  top: 220px;
}
.form-label-to_time{
  font-family: 'Manrope';
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #171A1FFF;
  position: relative;
  top: 280px;
  left: -90px;
}

.meetings-tiles-container {
  display: flex; /* Change from grid to flex */
  flex-wrap: wrap; /* Allow tiles to wrap to the next row */
  justify-content: flex-start; /* Align tiles from left to right */
  margin: 100px auto; /* Center the tiles horizontally */
  margin-left: -1080px;
}

.form-input-totime{
  width: 260px;
  height: 36px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: 'Manrope';
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  background: #F3F4F6FF;
  border-radius: 4px;
  border-width: 1px;
  border-color: #DEE1E645;
  outline: none;
  position: relative;
  left:-180px;
  top: 330px;
}
.form-label-related_to{
  font-family: 'Manrope';
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #171A1FFF;
  position: relative;
  top: 360px;
  left: 160px;
}

.form-input-related{
  width: 260px;
  height: 36px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: 'Manrope';
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  background: #F3F4F6FF;
  border-radius: 4px;
  border-width: 1px;
  border-color: #DEE1E645;
  outline: none;
  position: relative;
  left: 20px;
  top: 420px;
}
/* Media queries for responsiveness */

/*@media (max-width: 1200px) {
  .table10 {
    width: 100%;
    margin-left: 0;
  }
}*/

@media (max-width: 1000px) {
  .meet {
    flex-direction: column;
    gap: 10px;
  }

  .page {
    
    top: auto;
  }
}

@media (max-width: 768px) {
  .create{
    width: 155px;
    position: relative;
    top: -52px;
    left: 101px;
  }
}
@media (max-width: 700px) {
  .meet {
    margin: 10px;
    gap: 10px;

  }
  .form-button-container1{
    position: relative;
    top: 420px;
  }

  .meeting-form-container {
    width: 81%;
    max-width: 500px;
    height: 400;
  }
  

  .form-button-container1 {
    margin-top: 0;
  }
}

@media (max-width: 503px) {
  .form-label,
  .form-input {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    left: 0;
    top: 0;
  }
 

  .form-label-title,
  .form-input-title {
    top: 0;
  }

  .form-label-location,
  .form-input-location {
    top: 50px;
  }

  .form-label-time,
  .form-input-fromtime {
    top: 100px;
  }

  .form-label-to_time,
  .form-input-totime {
    top: 150px;
  }

  .form-label-related_to,
  .form-input-related {
    top: 100px;
    position: relative;
    left: 20px;

  }

  .form-button-container1 {
    margin: 10px;
    margin-top: 250px;
  }
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black overlay */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content_meet {
  /* padding: 20px; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 600px;
  margin: auto;
}

.meetings-header{
display: flex;


}
.meeting-header-buttons{
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-left:700px ;
}
.view-mode-select-meet{
  float: left;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid gray;
  background-color: aliceblue;
  text-align: center;
  margin-left: -100px;
  margin-top: 20px;

  
  
}
.meet_tile_view{
  width: 114px;
height: 22px;
font-family: 'Manrope';
font-size: 14px;
line-height: 22px;
font-weight: 700;
color: #171A1FFF;
}
.meeting-list-container {
  width: 150%;
  height: 200px;

}
.meetings-list-item {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: aliceblue;

}
/* @media(max-width:320px){
  .table10 {
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
   
  }
} */

/* css of meeting info */

.meet-head{
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.meetinglist{
  width: 256px;
  height: 1100px;
  background: #FAFAFBFF;
  border-radius: 0px;
  border-width: 1px;
  border-color: #FFFFFFFF;
  border-style: solid;
  box-shadow: 0px 2px 5px;
  position: relative;
  bottom: 13rem;
    
    
}
.meeting-infohead{
  
    font-family: 'Lexend';
    font-size: 32px;
    line-height: 48px;
    font-weight: 800;
    color: #171A1FFF;
    margin-top: 80px;
    
}
.meeting_infobox1{
width: 1098px;
height: 355px;
background: #F8F9FAFF;
border-radius: 3px;
border-width: 1px;
border-color: #F3F4F6FF;
border-style: solid;
box-shadow: 0px 8px 17px #171a1f, 0px 0px 2px #171a1f;
margin-top: 30px;
}

.meet-list{
  font-family: 'Manrope';
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #171A1FFF;
  margin-left: 7%;
  padding-top: 10px;
}

.meet-list-data,.meet-list-data1,.meet-list-data2,.meet-list-data3,.meet-list-data4,.meet-list-data5{
  width: 292px;
  height: 36px;
  padding-left: 12px;
  padding-right: 22px;
  font-family: 'Manrope';
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  background: #F3F4F6FF;
  border-radius: 4px;
  border-width: 1px;
  border-color: #DEE1E645;
  outline: none;

}
.meet-list-data{
  margin-left: 30px;
}
.meet-list-data1{
  margin-left: 30px;
}
.meet-list-data2{
  margin-left: 45px;
}
.meet-list-data3{
  margin-left: 5px;
}
.meet-list-data4{
  margin-left: 25px;
}
.meet-list-data5{
  margin-left: 25px;
}
.meeting_infobox2{
  width: 1098px;
  height: 255px;
  background: #F8F9FAFF;
  border-radius: 3px;
  border-width: 1px;
  border-color: #F3F4F6FF;
  border-style: solid;
  box-shadow: 0px 8px 17px #171a1f, 0px 0px 2px #171a1f;
  margin-top: 40px;
 
}
.edit-meeting{
  font-family: 'Lexend';
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  color: #FFFFFF;
  background: #6D31EDFF;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  position: relative;
  bottom: 31rem;
  left: 90rem;
}
.edit-meeting-save{
  font-family: 'Lexend';
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  background: #62CD14FF;
  opacity: 1;
  color: #FFFFFFFF;
  width: 100px;
  height: 30px;
  border-radius: 6px;
  position: relative;
  position: relative;
  bottom: 32rem;
  left: 85rem;
  
}
.edit-meeting-cancel{
  font-family: 'Lexend';
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  background: red;
  opacity: 1;
  color: #FFFFFFFF;
  width: 100px;
  height: 30px;
  border-radius: 6px;
  position: relative;
  margin-top: 20px;
  margin-left: 4px;
  position: relative;
  bottom: 32rem;
  left: 87rem;
  
}
.edit-meeting1{
  font-family: 'Lexend';
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  color: #FFFFFF;
  background: #6D31EDFF;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  position: relative;
  bottom: 15rem;
  left: 90rem;
}
.edit-meeting-save1{
  font-family: 'Lexend';
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  background: #62CD14FF;
  opacity: 1;
  color: #FFFFFFFF;
  width: 100px;
  height: 30px;
  border-radius: 6px;
  position: relative;
  position: relative;
  bottom: 15rem;
  left: 85rem;
  
}
.edit-meeting-cancel1{
  font-family: 'Lexend';
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  background: red;
  opacity: 1;
  color: #FFFFFFFF;
  width: 100px;
  height: 30px;
  border-radius: 6px;
  position: relative;
  margin-top: 20px;
  margin-left: 4px;
  position: relative;
  bottom: 15rem;
  left: 87rem;
  
}