


.siadebar {
  
  width: 280px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  transition: width 0.3s ease;
  z-index: 999;
}

.siadebar:hover {
  width: 300px;
}

.sidebar_inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar_logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.sidebar_img {
  margin-right: 10px;
}

.sidebar_logo_text {
  font-size: 24px;
  color: #333;
  font-weight: 600;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  margin: 20px 0;
}

.sidebar_list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-top:-10px;
}

.sidebar_item {
  width: 100%;
  margin-bottom: 10px;
}

.sidebar_link {
  display: flex;
  align-items: center;
  padding: 10px;
  font-weight: 600;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar_link:hover {
  color: white;
  text-decoration: none;
  background-color: #6d31edff;
}


.sidebar_link_text {
  margin-left: 10px;
  font-size: 16px;
}

.dropdown_list {
  list-style: none;
  padding-left: 30px;
  margin: 0;
  


}

.dropdown_item a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.dropdown_item a:hover {
  background-color: #6d31edff;
}


.logout_btn button {
  margin-bottom: 2rem;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout_btn button:hover {
  background-color: #555;
}

.dropdown_menu {
  position: absolute;
 bottom: 2rem;
  left: 27rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Ensure dropdown is above other content */
}
.dropdown_menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown_item {
  /*padding: 10px;*/  
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown_item:hover {
  background-color: #f0f0f0;
}
.dropdown_button{
  position: relative;
  bottom: 17rem;
  left: 1rem;
}
.dropdown_container{
  position: relative;
  
}
.dropdown_list-data{
  display: flex;
  flex-direction: row;

}
.model-sidebar-item {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: none;
  text-align: left;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  position: relative; /* Ensure dropdown is positioned relative to this item */
}

.model-dropdown {
  position: absolute;
  top: 0;
  left: 100%;
  width: 200px;
  background-color: #fff;
  border: 1px solid #ddd;
  z-index: 1000;
}

.dropdown-item-model {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.dropdown-item-model:hover {
  background-color: #e0e0e0;
}