
.ticket-display {
    display: flex;
  }
  
  .ticket_sidebar {
  position: relative;
  bottom: 13rem;
  }
  .ticket_nav{
    margin-left: 20rem;
    position: relative;
    bottom: 6rem;
    width: fit-content;
  }

  .ticket-show{
    display: flex;
  }

  .ticket-show h1{
    font-weight: bold;
    margin-left: 2rem;
  }
  .ticket_toolbar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-left: 25rem;
  }
  
  .ticket-search_input {
    width: 216px;
    height: 34px;
    padding-left: 34px;
    padding-right: 12px;
    font-family: Manrope;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    background: #F3F4F6FF;
    border-radius: 4px;
    border-width: 0px;
    outline: none;
  }
  
  .ticket-filter_dropdown {
    padding: 8px;
    font-size: 16px;
  }
  
  .ticket-create_button {
    padding: 8px 16px;
    background-color: #62CD14FF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .ticket-create_button:hover {
    background-color: #62CD14FF;
  }
  
  .ticket-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .ticket-dropbtn {
    padding: 8px;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
  }
  
  .ticket-dropdown_content {
     position: absolute;
     background-color: #f9f9f9;
     min-width: 100px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
     font-weight: bold;
  }

  
  .ticket-dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .ticket-dropdown_content a:hover {
    background-color: #f1f1f1;
  }
  
  .ticket-dropdown:hover .dropdown_content {
    display: block;
  }
  .ticket_heading {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .ticket_heading button {
    position: relative;
    padding: 10px 20px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 16px;
    justify-content: space-around;
  }
  
  .ticket_heading button:hover {
    background-color: #ddd;
  }
  
  .ticket_count_badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 12px;
  }
  
  .ticket_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 3rem;
  }
  
  .ticket_item {
    position: relative;
    padding: 16px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 4rem;
    background: #F8F9FAFF;
    border-radius: 6px;
    border-width: 1px;
    border-color: #F3F4F6FF;
    border-style: solid;
    box-shadow: 0px 8px 17px #171a1f, 0px 0px 2px #171a1f;
  }
  
  .ticket_item:hover {
    transform: scale(1.05);
  }
  
  .ticket_item:hover .ticket_hover_actions {
    display: flex;
  }
  
  .ticket_heading_number {
    display: flex;
    margin-bottom: 8px;
    font-weight: bold;
  }
  .ticket-id-number{
    background: #F8F9FAFF;
    border-radius: 6px;
    border-width: 1px;
    border-color: #F3F4F6FF;
    border-style: solid;
    color: #6D31EDFF;
    margin-left: 3rem;
  }
  
  .ticket_description {
    margin-bottom: 8px;
  }
  
  .view_attachment_button {
    width: 203px;
    height: 36px;
    background: #DEE1E6FF;
    border-radius: 8px;
    border-width: 1px;
    border-color: #DEE1E6FF;
    border-style: solid;
    box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
  }
  
  .ticket_hover_actions {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    gap: 8px;
    display: none;
  }
  
  .ticket_hover_actions button {
    padding: 8px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .ticket_hover_actions button:hover {
    background-color: #e0e0e0;
  }
  
  .ticket_details {
    margin-top: 20px;
  }
  
  .ticket_details button {
    position: absolute;
    top: 122px;
    left: 25px;
    width: 203px;
    height: 36px;
    background: #DEE1E6FF;
    border-radius: 8px;
    border-width: 1px;
    border-color: #DEE1E6FF;
    border-style: solid;
    box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
  }
  
  .ticket_details button:hover {
    background-color: #0056b3;
  }