.product-page {
    display: flex;
}
.product-sidebar {
    flex: 1;
  }
.product-content {
    flex-grow: 3;
    padding: 20px;
}
.product-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.product-content h1 {
    margin-top: 5rem;
    font-size: 2em;
    font-weight: bold;
}
.add-product-button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.add-product-button:hover {
    background-color: #0056b3;
}