.product-info-page {
    display: flex;
  }
  
  .product-info-sidebar {
    width: 250px;
  }
  
  .product-info-content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .product-info-content h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .product-info-content p {
    margin: 10px 0;
    font-size: 1.2em;
    line-height: 1.5;
  }
  
  .product-info-content p strong {
    display: inline-block;
    width: 150px;
    font-weight: bold;
  }
  
  .product-info-content p:first-child {
    margin-top: 0;
  }
  
  .product-info-content p:last-child {
    margin-bottom: 0;
  }
  